<header class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <a href="index.html" class="navbar-brand">
                <span class="brand-text">CAMPUS CLASH</span>
            </a>
        </div>

        <nav class="navbar-right">
            <div class="nav-links">
                <a href="index.html" class="nav-link">Home</a>
                <a href="tournaments.html" class="nav-link">Tournaments</a>
                <a href="about.html" class="nav-link">About</a>
                <a href="team.html" class="nav-link">Team</a>
                <a href="developer.html" class="nav-link">Developer</a>
                <a href="contact.html" class="nav-link">Contact</a>
            </div>
            <div id="auth-nav"></div>
        </nav>
    </div>
</header>
